body {
    font-size: 14px;
    color: black;
    background-color: white;
    font-family: helvetica, arial, serif
} /* px = pixels,  2 em = 2 times current font size, pt = points */

a {
    color: blue;
}

h1 {
    color: white;
    background-color: blue;
}

p {
    margin-left: 20px;
}

/* strong {
    font-style: italic;
    text-transform: uppercase;
} */
